@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


//color variables
$white: #fff;
$black: #000;
$blue: #2F54EB;
$orange: #FA8C16;
$green: #52c41a;
$red: #BB0000;

//media screen
$landscape: 1024px;
$tablet: 768px;
$mobile: 658px;
$mobile-xs: 320px;


html {
	scroll-behavior: smooth;
}
body {
	font-family: "Montserrat";
}
p {
	margin-bottom: 0;
}
.wrap {
    padding-left: 135px;
	padding-right: 135px;
}
.header {
	background-color: $blue;
	justify-content: space-between;
	&__link {
		color: $white;
		font-size: 14px;
		line-height: 20px;
		&:hover {
			color: $white;
		}
	}
	&__logo {
		position: relative;
		&::after {
			content: "for homeowners";
			position: absolute;
			left: 0;
			top: 35px;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 12px;
			font-weight: 500;
			letter-spacing: 0.15em;
		}
	}
}
.logo {
	font-size: 30px;
	line-height: 36px;
	color: $white;
	font-weight: 700;
	&_dot {
		color: $orange;
	}
}
.firstScreen {
	padding-top: 70px;
	padding-bottom: 101px;
	background: $blue;
	&__text {
		flex: 1;
		color: $white;
		margin-right: 24px;
		margin-top: 14px;
	}
	&__title {
		font-size: 35px;
		line-height: 48px;
		font-weight: 600;
		&_green {
			background: $green;
			border-radius: 5px;
		}
	}
	&__subtitle {
		font-size: 23px;
		line-height: 32px;
		font-weight: 500;
		margin-top: 30px
	}
	&__poster {
		background-image: url("img/main.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 16px;;
		flex: 1;
		position: relative;
		min-height: 320px;
	}
}
.asSeenBlock {
	position: absolute;
	right: 8px;
	bottom: 8px;
	background: $white;
	font-size: 11px;
	line-height: 16px;
	font-weight: 700;
	align-items: center;
	padding: 8px 16px;
	border-radius: 8px;
	&__text {
		margin: 0 5px 0 0;
	}
}
.featuresList {
	justify-content: space-between;
	margin: 56px 0 48px 0;
	&__item {
		flex: 1;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		text-align: center;
		max-width: 260px;
	}
	&__icon {
		margin-bottom: 26px;
	}
}
.gutterGuards {
	text-align: center;
	margin-bottom: 48px;
	padding: 0 130px;
	&__block {
		background: $blue;
		color: $white;
		position: relative;
		z-index: 0;
		padding: 64px 0 95px;
		border-radius: 24px;
		&::before {
			content: "";
			background: url("img/house.png");
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0.2;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}	
	&__title {
		font-size: 25px;
		line-height: 36px;
		font-weight: 700;
	}
	&__signboard {
		background: $white;
		color: $black;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		padding: 8px;
		max-width: 500px;
    	text-align: center;
		border-radius: 8px;
		margin-bottom: 16px;
	}
}
.zipForm {
	position: relative;
    margin: 0 100px;
	background: $white;
	color: $black;
	border-radius: 16px;
	z-index: 2;
	margin-top: 32px;
	&__content {
		max-width: 320px;
	}
	&__title {
		font-size: 23px;
		line-height: 32px;
	}
	&__text {
		color:	#646464;
		font-size: 14px;
		text-align: left;
	}
	&__button {
		margin-top: 14px;
	}
}
.input {
	font-size: 14px;
	line-height: 17px;
	background: #F5F6FE;
	padding: 19px 16px;
	border: none;
	border-radius: 4px;
	color: $black;
	font-weight: 500;
	width: 100%;
	margin: 10px 0 8px 0;
	outline: none;
	&:focus {
		border: 1px solid $blue;
	}
}
.button {
    background: $orange;
	color: $white;
    max-width: 500px;
	width: 100%;
	padding: 16px 0;
	border: none;
	border-radius: 4px;
	outline: none;
	&:hover {
		background: #F16E00;
	}
	&:focus {
		background: #F16E00;
	}
	&:active {
		border: none;
	}
}
.footer {
	background: $blue;
	&__wrap {
		width: 50%;
		text-align: center;
		padding: 24px 0 50px 0;
	}
	&__menu {
		list-style: none;
		font-size: 12px;
		line-height: 16px;
		justify-content: space-between;
		padding-top: 14px;
	}
	&__item {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $white;
		}
	}
}
.formField {
	min-width: 250px;
	margin: 0;
}
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
  }
.modalContent {
	background-color: #fefefe;
	padding-top: 25px;
	width: 100%; 
	height: 100%;
	border: none;
  }
.close {
	position: absolute;
    right: 30px;
	width: 21px;
	height: 21px;
	cursor: pointer;
  }
 input[type="radio"] {
	visibility: hidden;
  }
.modalForm {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
	&__button {
		width: auto;
		padding: 16px 24px;
		border-radius: 4px;
		display: flex;
		margin: 0 auto;
	}
	&__safe {
		margin-top: 10px;
	}
	&__inputs {
		margin: 20px 0 30px;
	}
	&__safe {
		margin-top: 16px;
    	font-size: 14px;
	}	
}
h3 {
	font-size: 25px;
	line-height: 36px;
	font-weight: 700;
  }
.answerGroup {
	display: flex;
	margin-top: 24px;
}
.answer {
	border: 2px solid #F5F6FE;
	border-radius: 16px;
	margin-right: 16px;
	padding: 20px;
	&:hover {
		border: 2px solid $orange;
	}
	&:focus {
		border: 2px solid $orange;
	}
}

.variant {
	font-weight: 700;
	color: #646464;;
}

.second {
	display: none;
	animation: 0.3s show;
	@keyframes show {
		0% {opacity: 0;}
		100% {opacity: 100;}
	}
}
.hide {
	display: block;
	animation: 2s hide;
	animation-fill-mode: forwards;
	@keyframes hide {
		from {opacity: 100%;}
		to {opacity: 0;}
	  }
  }
.progress {
	margin-top: 45px;
	height: 4px;
	background: #F5F6FE;
}
.progressBar {
	background: $green;
	height: 4px;
	animation: 0.4s grow1;
	animation-fill-mode: forwards;
	@keyframes grow1 {
		from {width: 0%;}
		to {width: 50%;}
	  }
  }
.grow {
	animation: 0.4s grow;
	animation-fill-mode: forwards;
	@keyframes grow {
		from {width: 50%;}
		to {width: 100%;}
	}
}
.error {
	border: 1px solid $red;
}
.errorText {
	color: $red;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	padding-left: 16px;
	margin: 5px 0 10px 0;
}

@media only screen and (max-width: $landscape) {
	.wrap {
		padding-left: 60px;
		padding-right: 60px;
	}
	.gutterGuards {
		padding: 0 40px;
	}
	.footer {
		&__wrap {
			width: 80%;
		}
	}
	.modalForm {
		margin-top: 24px;
		padding: 0 16px;
		&__title {
			text-align: center;
			font-size: 23px;
			line-height: 32px;
			max-width: 350px;
		}
		&__button {
			width: 100%;
			margin: 0;
			justify-content: center;
		}
		.input {
			margin: 0;
		}
		&__inputs {
			margin: 20px 0 30px;
		}
	}
	.answerGroup {
		flex-direction: column;
		width: 100%;
		margin: 10px 0;
	}
	.answer {
		padding: 16px 0 6px 20px;
		margin-bottom: 8px;
		margin-right: 0;
		&__icon {
			height: 40px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: $mobile) {
	.wrap {
		padding-left: 16px;
		padding-right: 16px;
	}
	.logo {
		font-size: 24px;
		line-height: 29px;
		text-align: left;
	}
	.header {
		&__logo {
			&::after {
				font-size: 9px;
				line-height: 10px;
				top: 30px;
			}
		}
	}
	.firstScreen {
		padding-top: 0;
		padding-bottom: 52px;
		&__title {
			font-size: 23px;
			line-height: 28px;
		}
		&__subtitle {
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			margin-top: 20px;
		}
		&__text {
			margin: 0;
    		padding-top: 28px;
		}
		&__poster {
			min-height: 200px;
		}
	}
	.asSeenBlock {
		padding: 4px;
	}
	.gutterGuards {
		margin-top: 140px;
		padding: 0;
		&__block {
			padding: 24px 24px 50px;
			&::before {
				display: none;
			}
		}
		&__title {
			text-align: left;
		}
		&__signboard {
			position: absolute;
			top: -88px;
			background: #F5F6FE;
			border: 1px solid $orange;
			text-align: left;
			display: flex;
    		align-items: flex-start;
			left: 24px;
    		width: 88%;
		}
		&__icon {
			margin-right: 10px;
		}
	}
	.zipForm {
		margin: 20px 0 0 0;
		&__title {
			font-size: 22px;
			font-weight: 500;
		}
		&__content {
			padding: 24px 16px;
		}
		&__button {
			margin-top: 14px;
		}
	}
	.modalContent {
		padding-top: 10px;
	}
	.footer {
		&__menu {
			font-size: 14px;
			line-height: 20px;
			text-align: left;
			padding-left: 0;
			li {
				padding-bottom: 16px;
			}
		}
		&__wrap {
			margin: 0;
			width: 70%;
			padding: 24px 16px 20px 16px;
		}
		&__logo {
			font-size: 30px;
		}
	}
	.featuresList {
		margin: 50px 0 48px 0;
		&__item {
			display: flex;
			text-align: left;
			max-width: 90%;
			align-items: center;
			margin-bottom: 33px;
		}
		p {
			margin-bottom: 0;
		}
		&__icon {
			margin-bottom: 0;
			margin-right: 23px;
		}
		&__icon_stars {
			margin-right: 5px;
		}
	}
	.input {
		margin: 5px 0 8px 0;
	}
	.close {
		top: 17px;
		right: 17px;
	}
	.modalForm {
		&__form {
			width: 100%;
			margin-top: 0;
		}
		&__inputs {
			margin: 20px 0 16px;
		}
	}
}

@media only screen and (max-width: $mobile-xs) { 
	.zipForm {
		&__title {
		font-size: 17px;
		}
	}
	.gutterGuards {
		margin-top: 130px;
		&__signboard {
			top: -105px;
		}
	}
}